body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    padding: 2% 50px 2% 50px;
    display: flex;
    justify-content: right;
    font-size: 25px;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav li {
    text-align: right;
    padding-right: 50px;
}
nav li:last-child{
    padding-right: 0px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Monaco", "Lucida Console", "Courier New", monospace;
    display: inline-block;
}
nav a:link{
    color: #ffffff;
}
nav a:hover{
    color: #747474;
}
nav a:visited{
    color: #ffffff;
}
main {
    padding: 0 50px 5% 50px;
}
h1 {
    font-size: 50px;
    padding: 0% 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
section {
    width: 25%;
    padding-top: 2%;
}
footer {
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    padding: 5%;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 75%;
    padding: 0% 5% 0% 5%;
    align-content: center;
}
footer a:link{
    color: #000000;
}
footer a:hover{
    color: #747474;
}
footer a:visited{
    color: #ffffff;
}
#logo {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
.no-bullets{
    list-style-type: none;
}
.brief {
    display: grid;
    grid-template-columns: 2fr .8fr;
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 2%;
}
.img-size {
    max-width: 100%;
    height: auto;
}
.flow {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.flow section {
    flex: 1;
}
@media screen and (min-width: 300px) {
    nav {
        padding: 2% 50px 2% 50px;
        display: flex;
        justify-content: right;
        font-size: 25px;
    }
    @supports (display: grid){
        nav ul {
            flex-direction: column;
            align-items: right;
            direction: rtl;
        }
        nav li {
            padding-right: 0;
            text-align: right;
        }
        nav a {
            direction: ltr;
        }
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
        }
        main {
            grid-area: main;
        }
        footer {
            grid-area: footer;
        }
    }
}
@media screen and (min-width: 600px){
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
        direction: ltr;
    }
    nav li {
        list-style-type: disc;
        padding-right: 50px;
        text-align: right;
    }
}
