body {
    background-color: black;
    color: white;
    font-family: "Lucida Console", "Monaco", "Courier New", monospace;
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    font-size: 50px;
    font-weight: bolder;
    padding: 1%;
}
hr {
    margin-bottom: 10%;
}
nav {
    padding: 2% 0% 2% 2%;
    display: flex;
    justify-content: right;
    font-size: 25px;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav li {
    text-align: right;
    padding-right: 50px;
}
nav li:last-child{
    padding-right: 0px;
}
nav a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%s;
}
nav a:link{
    color: #ffffff;
}
nav a:hover{
    color: #747474;
}
.no-bullets{
    list-style-type: none;
}
@media screen and (min-width: 300px) {
    @supports (display: grid){
        nav ul {
            padding: 0;
            flex-direction: column;
            padding-top: 1em;
            align-items: right;
        }
        nav li {
            list-style-type: none;
            padding: 0;
        }
        header {
            grid-area: header;
        }
        nav {
            grid-area: nav;
        }
        main {
            grid-area: main;
        }
        footer {
            grid-area: footer;
        }
    }
}
@media screen and (min-width: 600px){
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
    }
    nav li {
        list-style-type: disc;
        padding-right: 50px;
        text-align: right;
        
    }
}
